<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Demo Ajax Application</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{js/main.js}"></script>
</head>

<body>

<div class="container">
    <h1>Demo Ajax Application</h1>

    <button class="btn btn-warning" id="btnPost">Ajax POST</button>
    <br>
    <label id="lblCounter">Товаров в корзине</label>
</div>
</body>
</html>